  /* Section styling for easy visual separation */

.active-link {
    font-weight: bold;
    color: #007bff !important;
}


  /* Basic styling for video banner */
  .video-banner {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}

.video-banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mute/Unmute Button (bottom right corner) */
.mute-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

       footer img {
    max-width: 100%;
    height: auto;
}
       footer section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
footer ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        footer .contact-area {
    border-bottom: 1px solid #353C46;
}

footer .contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

footer .contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

footer .contact-content h6 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

footer .contact-content span {
    margin: 0 10px;
}

footer .contact-social {
    margin-top: 30px;
}

footer .contact-social > ul {
    display: inline-flex;
}

footer .contact-social ul li a {
    border: 1px solid #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

footer .contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

footer .contact-content img {
    max-width: 210px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
}
header .navbar {
    background: #70707017;
    backdrop-filter: blur(4px);
}
div#offcanvasNavbar {
    background: #000000d4;
}
section {
    margin-top: 50px;
    margin-bottom: 50px;
}
.modal.fade.show {
    display: block;
    background: #000000cb;
    backdrop-filter: blur(5px);
}
@media (max-width: 768px) {

}
.products-main .product-wrap {
    transition: transform 0.3s ease-in;
}

.products-main .product-wrap:hover {
    transform: scale(1.06);
}
section {
    scroll-margin-top: 70px; /* Adjust based on your sticky header height */
}
